.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  background-color: rgb(255, 251, 238);
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

.category-block {
  flex: 1;
  text-align: center;
  padding: 0 20px;
  position: relative;
}

/* 세로줄: 가운데 줄 */
.category-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background-color: #ccc;
}

/* 음식점 왼쪽 줄 제거 */
.category-block:first-of-type::before {
  display: none;
}

.category-title {
  background-color: #a71919;
  color: white;
  padding: 0.6rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.8rem;
  border-radius: 6px;

  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.store-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 30px;
  justify-items: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.store-list li {
  font-size: 1.1rem;
  padding-bottom: 5%;
  border-bottom: 1px solid #bbb;
  width: 180px;
  text-align: center;
  cursor: pointer;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  z-index: 9999;
  pointer-events: auto;
}
